{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>{{ hotel.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ hotel.nom }}</td>
            </tr>
            <tr>
                <th>Nbchambres</th>
                <td>{{ hotel.nbchambres }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ hotel.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ hotel.email }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ hotel.tel }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Chambres disponibles</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>État</th>
                <th>Prix</th>
                <th>Étage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for chambre in chambres %}
                <tr>
                    <td>{{ chambre.numC }}</td>
                    <td>{{ chambre.etat.label() }}</td>  <!-- Utilisation de la méthode label() -->
                    <td>{{ chambre.prix }} dt</td>
                    <td>{{ chambre.etage }}</td>
                    <td>
                        {% if chambre.etat.value == 'libre' %}
                            <a href="{{ path('app_reservation_new', {'hotelId': hotel.id, 'chambreId': chambre.id}) }}" class="btn btn-primary">
                                Réserver
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hotel_index') }}">Retour à la liste</a>
{% endblock %}
